<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <strong><%= course.company_name %></strong>
    </div>
    <div class="mb-1">
       <br>
       <%=course.description %>
       <br>
       <br>
       Website:
       <a href="apple.com">
           <%=  name %>
    </a>
    </div>

</div>

<hr>

<!--<pre>
    <%= JSON.stringify(course,null,5) %>
</pre>
-->