

    <div class="jumbotron">
        <h1>B Corporation Directory v3.0 </h1>
        <p></p>
    </div>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/courses/bySubject">
            Show B Corporations by Country: 
              <input type="text" name="country" 
                     placeholder="Israel">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/courses/byKeyword">
            Show B Corporations by Keyword: 
            <input type="text" name="keyword" 
                   placeholder="e.g. solar">
            <input type="submit">
        </form>
    <% } %>
    <!--<p class="p-3 m-3 border border-primary bg-light">
        The goal of this assignment is to write an app that will let
        students pick their courses for the year. Since we don't have 
        the data for this year (due to workday issues), we will use the 
        2020-2021 Academic year data. You must signup or login to see
        the courses and create your schedule.
    </p>-->


